{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}
{% if boba %}
<div class = "detail-pic">
<img src = "{{url_for('static', filename = '/images/' + boba.name + '.png')}}"></img>
</div>
{# Display card for the boba details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ boba.name }} ({{ boba.price}} $) 
      </div>
      <a href="{{url_for('bobas.boba_nutrition',boba_id = boba.name)}}" class="btn btn-primary"><button type="button" class="btn btn-primary btn-lg btn-block">See full nutritions details</button></a>
    </div>
  </div>
</div>

{# Reviews #}
<div class="row">
  <div class="col-md-12">
    <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('bobas.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <p>
            {{ review.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Boba review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}

{% if current_user.is_authenticated %}
{# Add boba to cart form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ cart_form.csrf_token }}
      <div class="form-group">

      </div>
      {{ cart_form.add_to_cart() }}
    </form>
  </div>
</div>
<a href="{{url_for('bobas.index')}}"><button type="button" class="btn btn-secondary btn-lg btn-block">Go back shopping</button></a>
{% endif %}

{% endif %}
{% endblock content %}


