{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Profile picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ user.username }}'s Cart</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Cart <small class="float-right">{{ cart.count() }} items</small></h1>
        <ul class="media-list">
            {% for item in cart %}
            <li class="media review-item">
                <div class="media-body">
                    <p>
                        <img src = "{{url_for('static', filename = '/images/' + item.boba_name + '.png')}}" height = 100 ></img>
                        {{ item.boba_name }}
                        {{ item.boba_price }}$
                    </p>
                </div>  
            </li>
            {% endfor %}
        </ul>
        <a href="{{url_for('bobas.index')}}"><button type="button" class="btn btn-secondary btn-lg btn-block">Go back shopping</button></a>
    </div>
</div>
{% endblock %}