{% extends "header.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/cherry.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Cherry Boba</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'cherry')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/latte.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Latte Boba</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'latte')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
     
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/chocolate.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Chocolate</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'chocolate')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/chai tea.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Chai Tea</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'chai tea')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/raspberry.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Raspberry</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'raspberry')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/mango.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Mango</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'mango')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/neapolitan ice cream.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Neapolitan Ice Cream</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'neapolitan ice cream')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/condensed milk.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Condensed Milk</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'condensed milk')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/strawberry foam cap.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Strawberry Foam Cap</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'strawberry foam cap')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/strawberry yogurt.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Strawberry Yogurt</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'strawberry yogurt')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/strawberry.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Strawberry</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'strawberry')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src = "{{url_for('static', filename = '/images/thai tea.png')}}"></img>
            <div class="card-body">
              <h5 class="card-title">Thai Tea</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{url_for('bobas.boba_detail',boba_id = 'thai tea')}}" class="btn btn-primary">See more!</a>
            </div>
          </div>
    </div>
    


  </div>
{% endblock %}

